nltk
geoip2
git+https://github.com/CloudBotIRC/mcstatus.git@master
cleverwrap
future
microdata
sqlalchemy
watchdog
lxml==4.2.1
beautifulsoup4
feedparser
requests
psutil
requests-oauthlib
tweepy
pyenchant
pythonwhois
pytz
imgurpython
isodate
yarl
googlemaps==3.0.2
forecastiopy==0.22

